@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic');
@font-face {
    font-family: "lettersoup";
    src: url("../fonts/lettersoup - Attractive Italic.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}