@import "./header.scss";
@import "./content.scss";
@import "./variables.scss";
@import "./fonts.scss";


html {
  box-sizing: border-box;
  height: 100%;
  // overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  overflow-y: scroll;
  font-family: 'Open Sans Condensed', sans-serif;
}

// *, *:before, *:after {
//   box-sizing: inherit;
// }


.container {
    width: 956px;
    margin-left: auto;
    margin-right: auto;
}